<div class="jumbotron">
    <h1>API</h1>
</div>
<div class="row">
    <div>Version running: @ViewBag.AvaliableVersion</div>
</div>
<br />
<br />
<div class="row">
    <h2>Aplication Status</h2>
    <div>Database Access: <b>@ViewBag.Diagnostics.DataBaseAccess</b></div>
</div>